.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-control {
  min-width: 3rem !important;
  border-color: #dbe2ef !important;
  color: #112d4e !important;
}

.input-group-text {
  font-size: small !important;
  text-align: right !important;
  padding: 5px !important;
  white-space: pre-line !important;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 10em;
  height: 100%;
  display: "flex";
  justify-content: right;
  align-items: center;
}

.input-group {
  height: 100%;
}

.input-block {
  margin-top: 5px !important;
  margin-bottom: 5px;
}

.btn {
  margin: auto;
  width: 100%;
  height: 100%;
  background: #112d4e !important;
  border-color: #010911 !important;
  color: #f9f7f7 !important;
  border-radius: 3px !important;
}
